# Django #
*.log
*.pot
*.pyc
__pycache__/
# db.sqlite3
# media/
.DS_Store
# *.sqlite3
# *.env

# Django Migrations #
*/migrations/*.py
*/migrations/*.pyc

# Django static files #
# staticfiles/
# static/

# Django translations #
*.mo
*.po

# Django environment settings #
.env
.env.*

# Virtual Environments #
.venv/
.env/
.ENV/
venv/
env/
ENV/

# macOS #
.DS_Store